<style type="text/css">
    body{
        font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 200;
        font-size: medium;
        width: 27cm;
    }
    table{
        width: 100%;
        border: 1px solid black;
        padding: 8px;
    }
    
</style>
<html>
<body>
    <div class="mw-100"><h2>Notas TPG de {{materia}}</h2></div>
    <div class="mw-100">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Grupo N°</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre</th>
                <th scope="col">Reg.</th>
                <th scope="col">DNI</th>
                <th scope="col">Etapa 1</th>
                <th scope="col">Etapa 2</th>
                <th scope="col">Etapa 3</th>
                <th scope="col">Etapa 4</th>
                </tr>
            </thead>
            <tbody>
                {{#each datos}}
                <tr>
                <td>{{grupo}}</td>
                <td>{{apellido}}</td>
                <td>{{nombre}}</td>
                <td>{{registro}}</td>
                <td>{{dni}}</td>
                <td>{{et1}}</td>
                <td>{{et2}}</td>
                <td>{{et3}}</td>
                <td>{{et4}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>